

main {
  width: 1366px;
  margin: 0 auto;
  background-image: url(/img/background\ 1.png);
}

.wrapper {
  width: 1028px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 51px 0 26px 0;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo-text {
  display: grid;
  align-content: space-around ;
}
.milan {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.holidays {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo-text a:hover {
  color: #F26522;
}

.logo-img {
  display: grid;
  align-items: center;
}
.logo-img a{
  display: block;
  width: 53px;
  height: 47px;
  background-image: url(/img/logo\ 3.svg);
}
.logo-img a:hover {
  background-image: url(/img/logo\ 2.png);
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 19px;
}
.contacts a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.contacts a:hover {
  color: #F26522;
}

.tours-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  gap: 10px;
}

.tours-list a:last-child {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin: 20px 0 37px;
}
.tours-list a:hover {
  color: #F26522;
}

.tours-list img {
  width: 300px;
  height: 220px;
}

.href-parent {
  position: relative;
}
.href-parent:hover .hover-block {
  opacity: 1;;
}
.hover-block {
  width: 296px;
  height: 55px;
  background-color: #F26522;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  left: 2.3px;
}

.hover-block p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.from {
  display: inline;
  font-size: 10px;
  line-height: 10px;
  padding-left: 16px;
}
.cost {
  font-size: 20px;
  line-height: 20px;
  padding-left: 16px;
}
.details {
  font-size: 14px;
  line-height: 14px;
  padding-left: 180px;
}
.details::after {
  content: url(/img/arrow.png);
  position: absolute;
  right: 14px;
}

footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 0 15px 0;
}